.controller.edit {
    background: url(https://imblakeluna.github.io/kyriastick/base.svg) center no-repeat;
}

.edit.disconnected {
    background: url(https://imblakeluna.github.io/kyriastick/disconnected.svg) no-repeat;
}

.edit .fstick {
    position: absolute;
    width: 221px;
    height: 221px;
    top: 198px;
    left: 194px;
    background: url(https://imblakeluna.github.io/kyriastick/stick.svg)
}
